# Backend
backend/.tools/
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.env
backend/HELP.md

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
